main {
    align-items: initial;
    justify-content: initial;
    height: 100vh;
}

div.banner {
    margin-top: 40px;
}

h3.title {
    margin-bottom: 0;
}

.btn {
    width: 110px;
}

a.btn {
    margin-top: 30px;
    width: 100%;
}

@media(max-width: 600px) {
    main {
        width: 90%;
    }

    table th.sector,
    table th.office,
    table td.sector,
    table td.office {
        display: none;
    }
}